a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    /* border: 2px solid black; */
    font-size: 13px;
    font-weight: 600;
    color: black;
    width: 100%;
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* border: 2px solid black; */
    gap: 20px;
   
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    gap: 20px;
}

.brand-logo{
    padding: 10px 16px;
    border-right: 1px solid black;
}

.active-link{
    background-color: #75d96a;
    border-radius: 100px;
    padding: 5px 15px;
}

.header-right span svg{
    width: 20px;
    height: 20px;
}
.search-box{
    display: flex;
    align-items: center;
}

.cart{
    background-color: #e74683;
    padding: 5px 28px;
    border-radius: 100px;
}

input{
    width: 100px;
    border: none;
    padding: 0;
}