.moving-banner{
    width: 100%;
    background-color: #75d96a;
    overflow: hidden;
    padding: 3px 0;
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.content{
  white-space: nowrap;
animation: slide 25s linear infinite;
}
.content span{
  padding: 0 15px;
  font-weight: 800;
  font-size: 10px;
  letter-spacing: 0.7px;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}