.popular-product{
    /* border: 2px solid black; */
    width: 100%;
    padding: 20px 70px;
}

.popular-pro-title{

}
.product-section{
    /* border: 2px solid rgb(193, 45, 45); */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: space-evenly;
    padding: 10px ;
}
.product-card{
    /* border: 2px solid black; */
    width: 300px;
    height: 400px;
    position: relative;
}
.product-img {
    width: 300px;
    height: 340px;
    /* border: 2px solid rgb(82, 48, 48); */
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-img img{
  width: 240px;
  transition: 0.5s all linear;
}
.product-img img:hover{
  transform: scale(1.2);
}
.product-des{
    display: flex;
    flex-direction: column;
}

.addtocartprod{
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
.addtocartprod:hover{
    color: red;
}